<%-include('../partials/header')%>
<br>


<div class="card bg-dark text-white">
  <div class="card-body d-flex flex-column">
    <img class="card-img img-fluid image" src="/images/team.jpg" alt="Card image">
  
  <div class="card-img-overlay">
    <h1 class="card-title text-center ">WELCOME TO THE RANDOM TEAM GENERATOR</h1>
    <h4 class="card-text text-center">Our App helps you generate your teams as fast as possible!</h4>
  </div>
  <div>
    <a href="/cohorts/pickerOptions"><button type="button" class="btn btn-secondary btn-lg mx-auto d-block mt-auto card-link boxhead">Get Started...</button></a>

  </div>
    
  
</div>
</div>


<%-include('../partials/footer')%>