<%-include('../partials/header')%>
<br>
<div>
  <nav class="nav navbar-default d-flex justify-content-between navbar navbar-light mb-4 mt-4" style="background-color: #e3f2fd;">
    <a class="nav-link active" aria-current="page" href="/cohorts/pickerOptions"><h5>Super Team Picker</h5></a> 
    <div class="d-flex justify-content-end">  
      <a class="nav-link active" aria-current="page" href="/cohorts/home"><h5>Home</h5></a> 
      <a class="nav-link active" aria-current="page" href="/cohorts"><h5>Cohorts</h5></a> 
      <a class="nav-link active" aria-current="page" href="/cohorts/new"><h5>New Cohort</h5></a> 
    </div>
  </nav>
<div class="card bg-dark text-white">
  <div class="card-body d-flex flex-column">
    
    <img class="card-img img-fluid image" src="/images/team.jpg" alt="Card image">
  
  <div class="card-img-overlay">
    <br> <br><br>

    
    <h2 class="card-title text-center ">You can now generate teams for your classroom,divide students, 
      create football teams, make groups for games or anything else randomly.</h2>
      <br> <br>
      <h4 class="block-quote text-center">How to use the Generator:</h4>
      <div class="card-text text-left">

        <br>

        <ol class="mx-auto justify-content-start d-flex">
          <li>Enter image url if you have an image.</li>
          <li>Enter the title of your team/group.</li>
          <li> Enter or copy/paste your list of names in the text area, comma separated and submit.</li>
          <li>Choose weather to select by team-count or number-per-team and provide the quantity.</li>
          <li>Click Assign teams to start generating your teams.</li>
        </ol>
      </div>
      <br><br><br>
      <div>
        <h3 class="block-quote text-center">On the Top Menu, click New Cohort to start creating...</h3>
      </div>
  </div>
</div>
</div>

</div>





<%-include('../partials/footer')%>